{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">NetworkAccess</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">VLAN</th>
              <td>{{ object.vlan.vid }}</td>
            </tr>
            <tr>
              <th scope="row">OS Interface</th>
              <td>{{ object.os_interface.name }}</td>
            </tr>
            <tr>
              <th scope="row">Context</th>
              <td>{{ object.context.name }}</td>
            </tr>
            <tr>
              <th scope="row">Role</th>
              <td>{{ object.role.role_name }}</td>
            </tr>
            <tr>
              <th scope="row">SVI</th>
              <td>{{ object.is_svi }}</td>
            </tr>
            <tr>
              <th scope="row">VRF</th>
              <td>{{ object.vrf.name }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
