{% extends 'generic/object_list.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">NetworkAccesses</h5>
        <div class="card-body table-responsive">
          {% render_table table %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
