{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">SVIBGPPeering</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">SVI</th>
              <td>{{ object.svi.vid }}</td>
            </tr>
            <tr>
              <th scope="row">Source ASN</th>
              <td>{{ object.source_asn.asn }}</td>
            </tr>
            <tr>
              <th scope="row">SVI BGP Peering Tag</th>
              <td>{{ object.svi_bgp_peering_tag.name }}</td>
            </tr>
            <tr>
              <th scope="row">OS Interface</th>
              <td>{{ object.os_interface.name }}</td>
            </tr>
            <tr>
              <th scope="row">Context</th>
              <td>{{ object.context.name }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
